<nav class="bottom_nav_main">
    <div class="none_bottom_nav"></div>
    <div class="bottom_nav">
        <div class="home">
            <img src="../../images/basic/homepage_nav_blue.png">
        </div>
        <div class="about">
            <img src="../../images/basic/about_gray.png">
        </div>
    </div>
</nav>