<nav class="top_nav_main">
    <div class="none_box_nav"></div>
    <div class="top_nav">
        <a href="#" class="left"><img src="../../images/basic/nav_left_icon.png"></a>
        <p class="center">员工培训</p>
        <a href="#" class="right"></a>
    </div>
</nav>

