<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工培训</title>
</head>
<body>

<!--员工培训介绍-->

<%- include('../../component/train/employee_training.ejs')%>


</body>
</html>