<!--导航-->
<nav class="top_nav_main">
    <div class="none_box_nav"></div>
    <div class="top_nav">
        <a href="#" class="left"><img src="../../images/basic/nav_left_icon.png"></a>
        <p class="center">海天国际培训机构</p>
        <a href="#" class="right"></a>
    </div>
</nav>


<div class="company_all">
    <div class="company_top_box">
        <!--选中蓝色 添加class值："choose"；-->
        <a href="#" class="company_nav choose">机构简介</a>
        <a href="#" class="company_nav">机构课程</a>
    </div>

    <div class="img_bg">

        <img src="../../images/show.png">

        <div class="inf_box">
            <p class="title_text">"海天国际"简介</p>
            <p class="text_in">北京海天伟业文化发展有限公司（简称“海天国际”）创建于1998年，是国内第一批教育培训商业机构，作为一家先行的管理培训专业公司，至今已拥有20年坚实的行业实践历程。秉承“智慧引领成功、学习成就未来”的核心理念，经过二十年的稳步发展，“海天”已经成为中国管理培训业唯一一家集远程教育标准体系...</p>
        </div>
    </div>




</div>