<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工培训</title>
</head>
<body>

<!--导航-->
<%- include('../../component/basic/top_nav.ejs')%>
<!--员工培训主页-->
<%- include('../../component/main/homepage.ejs')%>


</body>
</html>